@model List<Books>

<h2>Top 5 Last Ordered Books</h2>

<table class="table table-striped" id="displayPartial">
    @foreach (var item in Model)
    {
        <tr>
            <td id="partial-title">@item.Title</td>
            <td id="partial-price">@item.Price</td>
            <td id="partial-pages">@item.Pages</td>
        </tr>
    }
</table>
